.scrollbar-slider {
    padding-right: 15px;

    .swiper-slide {
        width: 270px;
    }
}

.container {
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        background: #ddd;
        border-radius: 2px;
        bottom: auto;
        height: 2px;
        left: auto;
        position: relative;
        right: auto;
        top: auto;
        width: 100%;

        .swiper-scrollbar-drag {
            background: #555;
            border-radius: 2px;
        }
    }
}
