@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    :host {
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply font-primary text-primary-dark;
    }

    h1 {
        @apply text-[56px] leading-[64px] font-normal;
    }

    h2 {
        @apply text-[46px] leading-[54px] font-normal;
    }

    h3 {
        @apply text-[34px] leading-[44px] font-normal;
    }

    h4 {
        @apply text-[28px] leading-[36px] font-normal;
    }

    h5 {
        @apply text-[24px] leading-[32px] font-normal;
    }

    h6 {
        @apply text-[18px] leading-[28px] font-normal;
    }
}
